<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kgaogelo Puka- INF 272 HW04 </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Child Health System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Personal Details","RegisterParent","Register")</li>
                    <li>@Html.ActionLink("Medical Conditions","Index","MedicalConditions")</li>
                    <li>@Html.ActionLink("Vaccination", "AddVaccinationDetails", "Vaccination")</li>
                   <li>@Html.ActionLink("View Vaccination Details","ViewVaccinationDetails","Vaccination")</li>
                    <li>@Html.ActionLink("Book Appointment","BookAppointment","Appointment")</li>
                    <li>@Html.ActionLink("View Bookings","ViewBooking","Appointment")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kgaogelo Puka-INF 272 HW04</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
